run = "(which bun || npm install -g bun) && bun install && bun run dev-bun"
hidden = [".build", ".config", "package-lock.json", "tsconfig.json"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"
# npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]


[deployment]
run = ["sh", "-c", "npm run dev-bun"]
