
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #000000;
}

.message-view {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f0f0f0;
  scroll-behavior: smooth; /* added */
}

.message {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
}

.input-text {
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  resize: none;
}

.send-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.avatar {
  display: inline-block;
  vertical-align: top;
}

.message-text {
  display: inline-block;
  max-width: 80%;
  margin-left: 1em;
}

.htmlPreview {
  display: block;
  width: 80%;
  height: 80%;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
  }

  .chat-container {
    color: #ffffff;
  }

  .message-view {
    background-color: #222222;
  }

  .message {
    background-color: #444444;
  }

  .input-container {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
  }

  .input-text {
    flex-grow: 1;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: none; /* added */
  }

  .input-container {
    background-color: #444444;
  }

  .input-text {
    background-color: #333333;
    color: #ffffff;
    border-color: #555555;
  }

  .send-button {
      background-color: #0099ff;
  }

  .send-button:hover {
      background-color: #007acc;
  }
}